<div [@routerTransition]>

    <div class="float-right">
        <a class="btn btn-success" [routerLink]="['/sites/new']">{{ 'sites.addSite' | translate }}</a>
    </div>
    <h1>{{ 'layout.sites' | translate }}</h1>
    <hr>

    <ngx-table 
        [configuration]="configuration"
        [data]="data"
        [columns]="columns">

        <ng-template let-row>
            <td>
                {{row.type}}
            </td>
            <td>
                {{row.url}}
            </td>
            <td>
                {{row.created_at}}
            </td>
            <td>
                <a routerLink="/sites/{{row.id}}">
                    <i class="fa fa-edit fa-2x"></i>
                </a>
            </td>
            <td>
                <a (click)="delete(row.id)">
                    <i class="fa fa-trash fa-2x"></i>
                </a>
            </td>
        </ng-template>
    </ngx-table>

</div>