<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" />
            <h1>Cablera Federal</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="user.name" class="form-control input-underline input-lg" id="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" ng-model="user.password" class="form-control input-underline input-lg" id="password" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()" translate="login.login">Log in</a> <!--  [routerLink]="['/dashboard']" -->
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']" translate="login.register">Sign up</a>
            </form>
        </div>
    </div>
</div>
