<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" />
            <h1>Cablera Federal</h1>
            <form (ngSubmit)="onLoggedin(loginForm);" #loginForm="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"
                               class="form-control input-underline input-lg" 
                               id="name" name="name" 
                               placeholder="Name"
                               (focus)="failLogin = false"
                               [(ngModel)]="user.name">
                    </div>

                    <div class="form-group">
                        <input type="password"
                               class="form-control input-underline input-lg"
                               id="password" name="password" 
                               placeholder="Password"
                               (focus)="failLogin = false"
                               [(ngModel)]="user.password">
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" translate="login.login">Log in</button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']" translate="login.register">Sign up</a>
            </form>
        </div>
    </div>
</div>

<app-popup *ngIf="failLogin"[type]="'danger'" [message]="'The user or password entered is incorrect'"></app-popup>
