<div class="col-md-12" [@routerTransition]>

  <h2 class="title"> {{ 'layout.posts' | translate }}</h2>

    <div class="row">
        <div class="col-xl-3 col-lg-6" 
            *ngFor="let d of data | paginate: { 
                itemsPerPage: perPage, 
                currentPage: page,
                totalItems: count 
            }">
            <app-stat 
                [icon]="'fa-image'"
                [id]="d.id" 
                [title]="d.title" 
                [text]="formatContent(d.content)" 
                [url]="d.url"
                [tags]="d.tags" 
                [publicationDate]="d.creation_date"
                [site]="d.site">
            </app-stat>
        </div>

        <div class="col-xl-12 col-lg-12">
            <div class="row justify-content-md-center">
                <pagination-controls 
                    (pageChange)="pageChange($event)"
                    responsive="true"
                    previousLabel="{{ 'layout.previous' | translate}}"
                    nextLabel="{{ 'layout.next' | translate}}"
                ></pagination-controls>
            </div>
        </div>
    </div>

</div>