<div class="m-2 hover-card card text-black" (click)="hacerAlgo()">
    <div class="card-header">
        <div class="row">
            <div class="col-xs-12 mx-auto">
                <div class="col col-xs-12 text-center">
                    <div class="d-block"><i class="fa {{icon}} fa-5x"></i></div>
                    <div class="d-block"><h5 class="font-weight-bold">{{title}}</h5></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left">{{text}}</span>
    </div>
</div>
