.card-header:hover{
    cursor: pointer;
}

.hover-card:hover {
    border: 5px solid rgb(0, 153, 255);
}

.postImage {
    color: rgb(0, 153, 255);
}

img {
    /*
    width: 100%;
    height: auto;
    */
    width: 250px;
    height: 250px;
    border-radius: 100%;
}