<div class="m-2 hover-card card text-black">
    <div class="card-header" (click)="goPost()">
        <div class="col-xs-12 mx-auto">
            <div class="col col-xs-12 text-center">
                <div *ngIf="image"><img src="{{image}}"></div>
                <div *ngIf="!image" class="d-block"><i class="postImage fa {{icon}} fa-5x"></i></div>
                <div class="d-block"><h3 class="font-weight-bold">{{title}}</h3></div>
            </div>        
            <span class="float-left">{{content}}</span>
            <br><br>

            <div class="float-right small">
                {{getPublishDate()}}
                <br>
                {{site}}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <tag-input 
            [(ngModel)]="tags" 
            placeholder='' 
            secondaryPlaceholder=''>
        </tag-input>

        <div class="float-right">
            <a routerLink="/posts/{{id}}" >
                <span ><i class="fa fa-edit fa-2x"></i></span>
            </a>
        </div>
    </div>
</div>
