<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" />
            <h1>Cablera Federal</h1>
            <form (ngSubmit)="onSingup(singupForm);" #singupForm="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" 
                               class="form-control input-underline input-lg"
                               id="fullname" name="fullname"
                               placeholder="Full name"
                               [(ngModel)]="user.name" required>
                    </div>

                    <div class="form-group">
                        <input type="text" 
                               class="form-control input-underline input-lg" 
                               id="email" name="email" 
                               (focus)="failSignup = false"
                               placeholder="Email"
                               [(ngModel)]="user.email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" 
                               class="form-control input-underline input-lg" 
                               id="password" name="password"
                               placeholder="Password"
                               [(ngModel)]="user.password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" 
                               class="form-control input-underline input-lg" 
                               id="repeatPassword" name="repeatPassword"
                               placeholder="Repeat password" required>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!singupForm.form.valid"> Register </button>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Return </a>
            </form>
        </div>
    </div>
</div>

<app-popup *ngIf="failSignup"[type]="'danger'" [message]="message"></app-popup>
