<div class="col-md-12">
    <h2 class="title">{{ 'posts.edit' | translate }}</h2>
	<div class="container" [@routerTransition]>

	    <div class="row justify-content-md-center">
	        <div class="col col-lg-12 input-panel shadow p-3 mb-5 rounded ">
	        <form (ngSubmit)="save(postForm);" #postForm="ngForm" >
	        <div class="row">
	        	<div class="col-md-6">
	                <div class="form-group">
	                    <label class="col-md-12" for="url" translate="posts.url"></label>
	                    <input  type="text"
	                            class="form-control" 
	                            id="url" name="url" 
	                            placeholder="Url"
	                            [(ngModel)]="post.url"
								translate="posts.url"
								disabled>
	                </div>

	                <div class="form-group" style="margin-top:20px">
	                    <label class="col-md-12" for="site" translate="posts.site"></label>
	                    <input  type="text"
	                            class="form-control" 
	                            id="site" name="site" 
	                            placeholder="Site"
	                            [(ngModel)]="post.site"
	                            translate="posts.site"
								disabled>
	                </div>

	                <div class="form-group" style="margin-top:20px">
	                    <label class="col-md-12" for="creation_date" translate="posts.creationDate"></label>
	                    <input  type="text"
	                            class="form-control" 
	                            id="creation_date" name="creation_date" 
	                            placeholder="creation_date"
	                            [(ngModel)]="post.creation_date"
	                            translate="posts.creationDate"
								disabled>
	                </div>


	                <div class="form-group" style="margin-top:20px">
	                    <label class="col-md-12" for="content" translate="posts.content"></label>
						 <textarea	class="form-control" 
									rows="6" 
									id="content" name="content"
									class="form-control" 
									[(ngModel)]="post.content" 
									translate="posts.creationDate"
									disabled> 
						</textarea> 
	                </div>

	            </div>    

	            <div class="col-md-5">

	                <div class="form-group">
	                	<label class="col-md-12" translate="posts.tags"></label>
	                	<tag-input name="tags" [(ngModel)]="post.tags" modelAsStrings="true" placeholder='Add Tag' 
      secondaryPlaceholder='Add Tag' theme='dark'></tag-input>
	                </div>

	                <button type="submit" style='margin-right: 5px'class="btn btn-primary">{{ 'layout.save' | translate }}</button>
                    <a class="btn btn-secondary" [routerLink]="['/posts']">{{ 'layout.return' | translate }}</a>
	            </div>  
	         </div>	 
	        </form>
	        </div>   

	    </div>    
	</div>

</div>
