<div [@routerTransition]>

    <div class="float-right">
        <a class="btn btn-success" [routerLink]="['/media/new']">{{ 'media.addMedia' | translate }}</a>
    </div>
    <h1>{{ 'layout.media' | translate }}</h1>
    <hr>

    <ngx-table 
        [configuration]="configuration"
        [data]="data"
        [columns]="columns">

        <ng-template let-row>
            <td>
                {{row.name}}
            </td>
            <td>
                {{row.district}}
            </td>
            <td>
                <a routerLink="/media/{{row.id}}">
                    <i class="fa fa-edit fa-2x"></i>
                </a>
            </td>
            <td>
                <a (click)="delete(row.id)">
                    <i class="fa fa-trash fa-2x"></i>
                </a>
            </td>
        </ng-template>
    </ngx-table>

</div>